<p><span class="author" style="color: black; font-style:italic; font-weight: normal;"><%= l(:label_added_time_by, :author => User.current, :age => time_tag(Time.now)).html_safe %>:</span>
</p>
<p><%= textilizable(@obj, :comments, :only_path => false) %></p>

<p></p>
<% 
path_root = @obj.repository.identifier.blank? ? 'root' : @obj.repository.identifier
link_path = ""
link_path << path_root
link_path << '/' unless @folder_path.empty?
link_path << @folder_path
 %>
<%=l(:label_scm_extensions_upload_body)%><%=  if @obj.repository.identifier.blank?
  link_to h(link_path), url_for(:controller => 'repositories', :action => 'show', :id => @obj.project, :path => to_path_param(@folder_path), :rev => nil, :only_path => false)
else
  link_to h(link_path), url_for(:controller => 'repositories', :action => 'show', :id => @obj.project, :repository_id => @obj.repository.identifier, :path => to_path_param(@folder_path), :rev => nil, :only_path => false)
end
  %>

<ul>
<% @attachments.each_value do |attachment|
file = attachment['file']
next unless file && file.size > 0
 %>
<li><%= if @obj.repository.identifier.blank?
link_to h(File.basename(file.original_filename)), url_for(:controller => 'repositories', :action => 'raw', :id => @obj.project,  :path => to_path_param(@folder_path+ '/' + File.basename(file.original_filename)), :rev => nil, :only_path => false) 
else
link_to h(File.basename(file.original_filename)), url_for(:controller => 'repositories', :action => 'raw', :id => @obj.project, :repository_id => @obj.repository.identifier, :path => to_path_param(@folder_path+ '/' + File.basename(file.original_filename)), :rev => nil, :only_path => false) 
end
%></li>
  <% end %>
</ul>

